@model MVCDesignmonster.WebUI.ViewModels.SessionStatsViewModel

@{
    ViewBag.Title = "SessionStatsPage";
}
<h2>@ViewBag.Title</h2>

<h3>@Model.SessionStats</h3>
<br/>
<h3>Last 100 user actions</h3>
<table class="table">
    <tr>
        <th>
            RawUrl
        </th>
        <th>
            UserName
        </th>
        <th>
            TimeStamp
        </th>
    </tr>

    @foreach (var item in Model.StatLogs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
        </tr>
    }

</table>
@*<h3>Users online:</h3>
    <ul>
        @foreach (var user in @Model.TrackedUsers)
        {
            <li>@user</li>
        }
    </ul>*@

@*<p class="lead">
    Visitors online:
    <ul>
        @foreach (var session in MvcApplication.Sessions)
        {
            <li>@session</li>
        }
    </ul>
</p>*@
