@using Microsoft.AspNet.Identity

@if (User.IsInRole("Admin") || User.IsInRole("Owner"))
{
    if (User.IsInRole("Admin"))
    {
        <li><span class="label label-primary">Role: Admin</span></li>
    }
    else if (User.IsInRole("Owner"))
    {
        <li><span class="label label-primary">Role: Owner</span></li>
    }
    <li>@Html.ActionLink("EditProfile", "Edit", "Profile")</li>
    <li>@Html.ActionLink("EditEducations", "Index", "Education")</li>
    <li>@Html.ActionLink("EditEmployers", "Index", "Employer")</li>
    <li>@Html.ActionLink("SiteStats", "SessionStatsPage", "Profile")</li>
    <li>@Html.ActionLink("PicUpload", "PicUpload", "Profile")</li>
}
else if (User.IsInRole("User"))
{
    <li><span class="label label-primary">Role: User</span></li>
}
