@model MVCDesignmonster.Models.Profile

@{
    ViewBag.Title = "Index";
}

<h2>Profile</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicPresentationText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowPrivatePresentationText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivatePresentationText)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(modelItem => @Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.PublicPresentationText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.ShowPrivatePresentationText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.PrivatePresentationText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= @Model.ProfileId }) |
            @Html.ActionLink("Details", "Details", new { id= @Model.ProfileId }) |
            @Html.ActionLink("Delete", "Delete", new { id= @Model.ProfileId })
        </td>
    </tr>


</table>
